.wrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px 40px;
	align-items: center;
	justify-items: start;
}

.check {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--green-light);
}

.line {
	margin: 10px auto;
	width: 1px;

	align-self: stretch;
	justify-self: center;
	background: #D2D2D2;
}

.desc {
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
}