html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: #F5F6F8;

  font-family: var(--font-noto-sans);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --white: #fff;
  --primary: #7653FC;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
}